<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiennt54.timetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver android:name="com.example.kiennt54.timetable.widgets.AppWidgetSchedule">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_schedule_info" />
        </receiver>

        <service
            android:name="com.example.kiennt54.timetable.widgets.ScheduleService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="com.example.kiennt54.timetable.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kiennt54.timetable.activities.EditActivity" />

    </application>

</manifest>